Source: kibana
Section: web
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: kibana
Architecture: all
Depends:
 ${misc:Depends},
Description: browser based analytics and search interface to Logstash
 Kibana is an open source, browser based analytics and search
 interface to Logstash and other timestamped data sets stored in
 ElasticSearch. Kibana strives to be easy to get started with,
 while also being flexible and powerful.
